<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href='webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'/>
    <script defer src='webjars/bootstrap/js/bootstrap.bundle.min.js'></script>
</head>
<body>
<div id="secretPageContainer" sec:authorize="hasRole('ROLE_MANAGER')">
    <a th:href="@{/admin}">Access Manager Page</a>
</div>

<div id="usernameContainer">
    <label for="username">Username:</label>
    <span id="username" th:text="${#authentication.principal.username}"/>
</div>

<div id="nameContainer">
    <label for="name">Name:</label>
    <span id="name" th:text="${#authentication.principal.name}"/>
</div>

<div id="authorityContainer">
    <label for="authorities">Roles: </label>
    <div id="authorities" th:each="authority : ${#authentication.principal.authorities}">
        <div th:text="${authority}"/>
    </div>
</div>

<div id="logoutContainer" sec:authorize="isAuthenticated()">
    <form method="post" th:action="@{/logout}">
        <input id="logout" type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>