<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href='webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'/>
    <link rel='stylesheet' th:href='@{/css/background.css}'/>
    <script defer src='webjars/bootstrap/js/bootstrap.bundle.min.js'></script>
    <script defer th:src='@{/js/loginValidation.js}'></script>
    <script defer th:src='@{/js/localisation.js}'></script>
</head>
<body>
<div class="container">
    <input id="locale" th:value="${#locale.language}" type="hidden"/>

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <div class="row mb-5">
                        <div class="col"></div>
                        <h5 class="card-title text-center fw-light fs-5 col-7 col-sm-5 col-md-7"
                            th:text="#{login.signin.title}"></h5>
                        <select class="col form-select" id="languageSelection">
                            <option th:text="#{language.en}" th:value="#{language.option.value.en}"></option>
                            <option th:text="#{language.zh}" th:value="#{language.option.value.zh}"></option>
                        </select>
                    </div>

                    <form class="needs-validation" method="post" novalidate th:action="@{/login}">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" name="username" placeholder="Jon" required
                                   type="text">
                            <label for="username" th:text="#{login.username.title}"></label>
                            <div class="invalid-feedback" th:text="#{login.invalid.username.message}"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" placeholder="Password"
                                   required type="password">
                            <label for="password" th:text="#{login.password.title}"></label>
                            <div class="invalid-feedback" th:text="#{login.invalid.password.message}"></div>
                        </div>

                        <div class="form-floating text-center text-danger" hidden id="invalidUser"
                             th:text="#{login.invalid.user.message}"></div>

                        <div class="d-grid mt-4">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" th:text="#{login.signin.button.message}"
                                    type="submit"></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>